* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Montserrat', 'sans-serif';
}

.navActive {
  max-height: 300px;

}

.NavAnimation-enter {
  max-height: 0px;
  transform: scale(0.6);
}
.NavAnimation-enter-active {
  max-height: 300px;
  transform: translateX(0);
  transition: max-height 350ms, transform 350ms;

}
.NavAnimation-exit {
  max-height: 300px;

}
.NavAnimation-exit-active {
  max-height: 0px;
  transform: scale(0.5);
  transition: max-height 350ms, transform 350ms;
}
